body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
    margin: 30px, 0px;
    height: 3vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 8px;
    justify-content: space-between;
}

.nav-elem {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0px 5px;
    padding: 5px, 0px, 5px, 0px;
}

.nav-menu {
    display: none;
    padding: inherit;
}
.nav-menu-img {
    height: 100%;
}

.nav-logo-img {
    height: 100%;
    padding: inherit;
}

.nav-links:hover {
    color: rgb(38, 31, 140);
}

.nav-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    border-radius: 20px;
    border: black 1px solid;
    background-color: white;
    position: relative;
    align-items: center;
}

.search-bar {
    border: none;
    position: relative;
    flex-grow: 1;
    float: left;
    background: none;
}

.search-button {
    height: 100%;
    border: 0px;
    border: none;
    background: none;
    background-color: transparent;
    width: 40px;
    padding: 0;
    margin: 0;
}

.nav-cart-img {
    height: 100%;
    padding: inherit;
}

.nav-lang-img {
    border: 2px black solid;
    height: 100%;
    padding: inherit;
}

.section01 {
    margin: 0% 20%;
    font-size: 0.8rem;
    background-color: #f8f9fb;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: auto;
}

.section01-1 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: -15%;
    margin: 3rem 7rem;
    height: 60%;
    width: 40%;
    padding: 3%;
    padding-bottom: 5rem;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}

.section01-2 {
    width: 50%;
    margin: 0rem;
}